# Backend Environment Variables
JWT_SECRET_KEY=novis_bca_final_year_project_super_secret_jwt_key_2026
MONGO_URI=mongodb://127.0.0.1:27017/tokenized_asset
IPFS_API_URL=http://127.0.0.1:5001/api/v0/add
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=12345
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
